In [1]:
import pandas as pd

""" emotion_label_to_text = {0:'anger', 1:'disgust', 2:'fear',
                         3:'happiness', 4: 'sadness', 5: 'surprise', 6: 'neutral'}
                         """
# emotions we need, are 0, 3, 4 and 6

data = pd.read_csv(r'C:/Users/ASUS/Downloads/fer2013.csv', encoding='utf-8')
data = data[['pixels', 'emotion']]
data.head()

                                              pixels  emotion
0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...        0
1  151 150 147 155 148 133 111 140 170 174 182 15...        0
2  231 212 156 164 174 138 161 173 182 200 106 38...        2
3  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...        4
4  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...        6

In [13]:
a  = ['1', '2', '5']
df0 = pd.DataFrame(data)
df1 = df0[df0.emotion != 2]
df2 = df1[df1.emotion != 1]
df = df2[df2.emotion != 5]
df.head()

                                              pixels  emotion
0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...        0
1  151 150 147 155 148 133 111 140 170 174 182 15...        0
3  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...        4
4  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...        6
6  20 17 19 21 25 38 42 42 46 54 56 62 63 66 82 1...        4